.margen{
    margin-top: 30px;
    margin-left: 30px;
}
body{
    margin: 0;
    background-image: url("./background1.jpg");
    background-color: white;
}
.distribucion-navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color:orange;
}
.fila-navbar{
    display: flex;
    flex-direction: row;
}
.button{
    transition-duration: 0.4s;
}
.boton-navbar{
    background-color: orange;
    border: orange;
    padding: 20px;
}
.boton-navbar:hover{
    background-color: white;
}
.boton-register{
    background-color: white;
    border: white;
    padding: 20px;
}
.caja-central-comunidad{
    margin-top: 20px;
    margin-left: 120px;
    background-color: orange;
    height: 200px;
    width: 1000px;
}
.caja-central-comunidad1{
    margin-top: 20px;
    margin-left: 120px;
    background-color: orange;
    height: 220px;
    width: 1000px;
}
.caja-central-titulo{
    display: flex;
    justify-content: center;
    border-color: black;
    border-style: none none solid none;
    border-width: 1px;
}
.prueba{
    margin: 20px; 
    background-color: yellowgreen;
    height: 90px;
    width: 90px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.ingreso-datos-comunidad{
    display: flex;
    justify-content: left;
    margin-top: 8px;
    margin-left: 20px;
}
.ingreso-datos-comunidad1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 8px;
    margin-left: 20px;
}
.centrar{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.caja-boton-buscar{
   margin-top: 20px;
}
.boton-buscar{
    margin-top: 40px;
    margin-left: 972.5px;
}
.boton-volver{
    margin-top: 40px;
    margin-left: 939px;
}
#TextInput{
    height: 100px;
    width: 300px;
}
#TextInput1{
    height: 20px;
    width: 180px;
}
#TextInput2{
    height: 20px;
    width: 180px;
}
#TextInput3{
    height: 20px;
    width: 180px;
}