body{
    margin: 0;
    background-image: url('./background1.jpg');
    background-color: white;
}
.distribucion-navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color:orange;
}
.fila-navbar{
    display: flex;
    flex-direction: row;
}
.button{
    transition-duration: 0.4s;
}
.boton-navbar{
    background-color: orange;
    border: orange;
    padding: 20px;
}
.boton-navbar:hover{
    background-color: white;
}
.boton-iniciar-sesion{
    background-color: white;
    border: white;
    padding: 20px;
}
.caja-central{
    margin: 120px;
    background-color: orange;
    height: 200px;
    width: 1000px;
}
.caja-central-titulo{
    display: flex;
    justify-content: center;
    border-color: black;
    border-style: none none solid none;
    border-width: 1px;
}

.ingreso-datos-login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 20px;
}
.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.margen{
    margin-top: 30px;
    margin-left: 30px;
}